In [284]:
import pandas as pd
import json, re, json
from pandas.io.json import json_normalize

In [195]:
ratings = pd.read_json("movie_ratings_mean.json")

In [219]:
movies = pd.read_json("movies_metadata.json")

In [285]:
with open('movies_metadata.json') as data_file:    
    movies_json = json.load(data_file)

movies_json

In [423]:
with open('credits.json') as data_file:    
    credits_json = json.load(data_file)

In [426]:
cast = json_normalize(credits_json, record_path='cast', record_prefix='cast_', meta=['movieId'])

In [537]:
cast = cast.astype({'movieId':'int64'})

In [440]:
print('Unique movies related to cast', len(pd.unique(cast['movieId'])))
print('Unique cast ids', len(pd.unique(cast['cast_id'])))
print('Unique cast names', len(pd.unique(cast['cast_name'])))
print('Cast count', cast.count())
cast

Unique movies related to cast 43018
Unique cast ids 206158
Unique cast names 202747
Cast count cast_cast_id         562474
cast_character       562474
cast_credit_id       562474
cast_gender          562474
cast_id              562474
cast_name            562474
cast_order           562474
cast_profile_path    562474
movieId              562474
dtype: int64

,cast_cast_id,cast_character,cast_credit_id,cast_gender,cast_id,cast_name,cast_order,cast_profile_path,movieId
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862
...,...,...,...,...,...,...,...,...,...
562469,2,,52fe4ea59251416c7515d7d5,2,544742,Iwan Mosschuchin,0,,227506
562470,3,,52fe4ea59251416c7515d7d9,1,1090923,Nathalie Lissenko,1,,227506
562471,4,,52fe4ea59251416c7515d7dd,2,1136422,Pavel Pavlov,2,,227506
562472,5,,52fe4ea59251416c7515d7e1,0,1261758,Aleksandr Chabrov,3,,227506
562473,6,,52fe4ea59251416c7515d7e5,1,29199,Vera Orlova,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,227506

In [445]:
cast.loc[cast.cast_name == 'Tom Hanks']

,cast_cast_id,cast_character,cast_credit_id,cast_gender,cast_id,cast_name,cast_order,cast_profile_path,movieId
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
2393,19,Jim Lovell,52fe4253c3a36847f801595d,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,568
5859,7,Forrest Gump,52fe420ec3a36847f800074f,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,13
8489,21,Andrew Beckett,52fe452fc3a36847f80c1111,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,9800
9083,13,Sam Baldwin,52fe4283c3a36847f8024bd9,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,858
...,...,...,...,...,...,...,...,...,...
504992,0,Chesley 'Sully' Sullenberger,561c1d9cc3a3682251002307,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,363676
520042,0,Robert Langdon,5475a40dc3a3687fd9000e10,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,207932
538742,23,Reader (voice),52fe4a909251416c750e6647,2,31,Tom Hanks,7,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,140465
541857,14,Mr. Macauley,547200b79251411752000075,2,31,Tom Hanks,5,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,305642
542087,60,British officer,58c90d4ac3a3687583006cc0,2,31,Tom Hanks,37,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,331214

In [466]:
genres = json_normalize(movies_json, record_path='genres', record_prefix='genre_').drop_duplicates()

In [623]:
genres.to_json('genres.json', orient='records')

In [475]:
collections = json_normalize(movies_json, record_path='belongs_to_collection', record_prefix='collection_')[['collection_id', 'collection_name']].drop_duplicates()

In [624]:
collections.to_json('collections.json', orient='records')

In [479]:
movies_for_cast = movies[['id', 'revenue', 'genres']]
movies_for_cast = movies_for_cast.assign(genres=movies_for_cast.genres.map(lambda x: [item['id'] for item in x]))

In [503]:
ratings = pd.read_csv('ratings.csv').groupby(['movieId'])['rating'].mean()

In [542]:
movies_for_cast.dtypes

id          int64
revenue     int64
genres     object
dtype: object

In [510]:
movies_with_ratings_for_cast = movies_for_cast.merge(ratings, how='left', left_on='id', right_on='movieId').fillna(0)

In [603]:
cast_with_movie_data = cast.merge(movies_with_ratings_for_cast, how='left', left_on='movieId', right_on='id')
cast_with_movie_data.dtypes

cast_cast_id           int64
cast_character        object
cast_credit_id        object
cast_gender            int64
cast_id                int64
cast_name             object
cast_order             int64
cast_profile_path     object
movieId                int64
id                     int64
revenue                int64
genres                object
rating               float64
dtype: object

In [604]:
cast_with_movie_data

,cast_cast_id,cast_character,cast_credit_id,cast_gender,cast_id,cast_name,cast_order,cast_profile_path,movieId,id,revenue,genres,rating
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862,862,373554033,"[16, 35, 10751]",3.59893
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862,862,373554033,"[16, 35, 10751]",3.59893
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862,862,373554033,"[16, 35, 10751]",3.59893
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862,862,373554033,"[16, 35, 10751]",3.59893
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862,862,373554033,"[16, 35, 10751]",3.59893
...,...,...,...,...,...,...,...,...,...,...,...,...,...
563107,2,,52fe4ea59251416c7515d7d5,2,544742,Iwan Mosschuchin,0,,227506,227506,0,[],0.00000
563108,3,,52fe4ea59251416c7515d7d9,1,1090923,Nathalie Lissenko,1,,227506,227506,0,[],0.00000
563109,4,,52fe4ea59251416c7515d7dd,2,1136422,Pavel Pavlov,2,,227506,227506,0,[],0.00000
563110,5,,52fe4ea59251416c7515d7e1,0,1261758,Aleksandr Chabrov,3,,227506,227506,0,[],0.00000
563111,6,,52fe4ea59251416c7515d7e5,1,29199,Vera Orlova,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,227506,227506,0,[],0.00000

In [605]:
cast_to_export = cast_with_movie_data.groupby(['cast_id', 'cast_name']).agg({'revenue': 'sum',
                                                            'rating': 'mean',
                                                            'movieId': lambda x: list(x),
                                                            'cast_order': lambda x: list(set(x)),
                                                            'genres': lambda x: list(set([item for sublist in x for item in sublist]))}).reset_index()
cast_to_export

,cast_id,cast_name,revenue,rating,movieId,cast_order,genres
0,1,George Lucas,1603085690,1.060730,"[306, 87, 879, 4539, 1895, 44345, 55676, 76180...","[0, 66, 3, 2, 5, 7, 8, 9, 10, 11, 14, 21, 24, ...","[35, 99, 12, 14, 878, 80, 16, 28, 10751]"
1,2,Mark Hamill,4471585758,0.595520,"[11, 12122, 1891, 1892, 14919, 11428, 2294, 16...","[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 14, 16, 18]","[10752, 10402, 35, 99, 12, 878, 14, 16, 80, 18..."
2,3,Harrison Ford,9389060789,1.202131,"[11860, 11, 9331, 5503, 31643, 78, 1891, 85, 2...","[0, 1, 32, 3, 4, 2, 5, 7, 8, 10, 11, 14, 16, 2...","[10752, 35, 36, 37, 99, 12, 878, 14, 80, 9648,..."
3,4,Carrie Fisher,4944396151,1.081010,"[11, 10379, 1891, 1892, 525, 639, 816, 11974, ...","[0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 16...","[10402, 35, 99, 12, 878, 14, 80, 9648, 18, 107..."
4,5,Peter Cushing,796512955,0.783633,"[11, 23383, 18990, 3079, 78256, 32613, 38006, ...","[0, 1, 2, 3, 4, 5, 6, 8, 9, 12, 13, 22, 24]","[10752, 10402, 35, 36, 12, 878, 14, 9648, 80, ..."
...,...,...,...,...,...,...,...
206167,1907919,Axel Danielsson,0,0.000000,[407204],[10],[]
206168,1907920,Lasse Dithmar,0,0.000000,[407204],[11],[]
206169,1907923,Pia Edlund,0,0.000000,[407204],[13],[]
206170,1907926,Stina Elinderson,0,0.000000,[407204],[14],[]
206171,1908262,Morse Diggs,224511319,0.000000,[339403],[27],"[80, 28]"

In [607]:
cast_to_export = cast_to_export.rename(columns={'cast_id': 'talent_id', 'cast_name': 'name', 'movieId': 'movies', 'cast_order': 'role_order'})

In [609]:
cast_to_export['job'] = 'Actor'

In [611]:
cast_to_export['job'] = cast_to_export['job'].map(lambda x: [x])

In [612]:
cast_to_export

,talent_id,name,revenue,rating,movies,role_order,genres,job
0,1,George Lucas,1603085690,1.060730,"[306, 87, 879, 4539, 1895, 44345, 55676, 76180...","[0, 66, 3, 2, 5, 7, 8, 9, 10, 11, 14, 21, 24, ...","[35, 99, 12, 14, 878, 80, 16, 28, 10751]",[Actor]
1,2,Mark Hamill,4471585758,0.595520,"[11, 12122, 1891, 1892, 14919, 11428, 2294, 16...","[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 14, 16, 18]","[10752, 10402, 35, 99, 12, 878, 14, 16, 80, 18...",[Actor]
2,3,Harrison Ford,9389060789,1.202131,"[11860, 11, 9331, 5503, 31643, 78, 1891, 85, 2...","[0, 1, 32, 3, 4, 2, 5, 7, 8, 10, 11, 14, 16, 2...","[10752, 35, 36, 37, 99, 12, 878, 14, 80, 9648,...",[Actor]
3,4,Carrie Fisher,4944396151,1.081010,"[11, 10379, 1891, 1892, 525, 639, 816, 11974, ...","[0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 16...","[10402, 35, 99, 12, 878, 14, 80, 9648, 18, 107...",[Actor]
4,5,Peter Cushing,796512955,0.783633,"[11, 23383, 18990, 3079, 78256, 32613, 38006, ...","[0, 1, 2, 3, 4, 5, 6, 8, 9, 12, 13, 22, 24]","[10752, 10402, 35, 36, 12, 878, 14, 9648, 80, ...",[Actor]
...,...,...,...,...,...,...,...,...
206167,1907919,Axel Danielsson,0,0.000000,[407204],[10],[],[Actor]
206168,1907920,Lasse Dithmar,0,0.000000,[407204],[11],[],[Actor]
206169,1907923,Pia Edlund,0,0.000000,[407204],[13],[],[Actor]
206170,1907926,Stina Elinderson,0,0.000000,[407204],[14],[],[Actor]
206171,1908262,Morse Diggs,224511319,0.000000,[339403],[27],"[80, 28]",[Actor]

In [567]:
cast_to_export.to_json("cast_with_movie.json", orient='records')

In [571]:
crew = json_normalize(credits_json, record_path='crew', record_prefix='crew_', meta=['movieId'])
crew = crew.astype({'movieId':'int64'})

In [575]:
crew.loc[crew.crew_name == 'Tom Hanks']

,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name,crew_profile_path,movieId
15864,52fe450ec3a36847f80b9bad,Directing,2,31,Director,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,9591
15865,52fe450ec3a36847f80b9bb3,Writing,2,31,Screenplay,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,9591
61534,52fe44a2c3a36847f80a14ed,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,8358
80511,52fe44a1c3a36847f80a107b,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,8346
126852,52fe4400c3a36847f807c963,Production,2,31,Executive Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,5255
157450,599a13b9c3a36839780063ca,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,15675
162208,52fe4545c3a36847f80c4c03,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,9906
173326,52fe4365c3a36847f805145d,Production,2,31,Executive Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,2698
178599,52fe4459c3a36847f8090d5b,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,6538
184516,52fe446c9251416c750342a5,Production,2,31,Executive Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,11631
187469,52fe457f9251416c750589d7,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,13600
195294,54ad733cc3a36856c20000c0,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,16279
202339,52fe46d89251416c75085741,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,16523
214973,593fe4bc9251414aee00f37f,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,235199
232446,52fe499dc3a36847f81a3b4f,Writing,2,31,Screenplay,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,59861
232447,52fe499dc3a36847f81a3b15,Directing,2,31,Director,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,59861
232448,5693142592514115ce003b05,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,59861
277216,533be86fc3a36824820003d3,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,209262
305647,54009d31c3a36806030016d9,Production,2,31,Executive Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,289314
331289,52fe4d529251416c75137585,Production,2,31,Executive Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,189197
376376,55528d24c3a36834e1005cda,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,339988
404207,576aff4bc3a36822bd0014f1,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,302688
407402,55e4f0abc3a368140800047e,Production,2,31,Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,357125
448304,5472005d9251410ebc0012a9,Production,2,31,Executive Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,305642
448426,56731cd9c3a368070c002fbd,Directing,2,31,Director,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,331214
448427,55088e6b92514130660017c9,Production,2,31,Executive Producer,Tom Hanks,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,331214

In [576]:
crew_with_movie_data = crew.merge(movies_with_ratings_for_cast, how='left', left_on='movieId', right_on='id')
crew_with_movie_data.dtypes

crew_credit_id        object
crew_department       object
crew_gender            int64
crew_id                int64
crew_job              object
crew_name             object
crew_profile_path     object
movieId                int64
id                     int64
revenue                int64
genres                object
rating               float64
dtype: object

In [583]:
crew_to_export = crew_with_movie_data.groupby(['crew_id', 'crew_name']).agg({'revenue': 'sum',
                                                    'rating': 'mean',
                                                    'movieId': lambda x: list(set(x)),
                                                    'genres': lambda x: list(set([item for sublist in x for item in sublist])),
                                                    'crew_job': lambda x: list(set(x))
                                                }).reset_index()

crew_to_export

,crew_id,crew_name,revenue,rating,movieId,genres,crew_job
0,1,George Lucas,23037826439,2.106741,"[10372, 11, 36751, 28176, 12180, 13597, 10658,...","[10752, 10402, 35, 36, 99, 12, 878, 14, 80, 96...","[Screenplay, Author, Editor, Executive Produce..."
1,2,Mark Hamill,0,2.955752,[25757],"[35, 28, 53]",[Director]
2,3,Harrison Ford,35168966,3.860732,[8665],"[18, 36, 53]",[Executive Producer]
3,4,Carrie Fisher,130239681,0.000000,"[52461, 11005, 22414]","[18, 35]","[Writer, Novel, Thanks]"
4,7,Andrew Stanton,16396700365,0.871558,"[213121, 399106, 62211, 12, 150540, 2062, 9487...","[35, 12, 14, 878, 16, 18, 28, 10751]","[Co-Director, Screenplay, Original Story, Char..."
...,...,...,...,...,...,...,...
161571,1907632,Nagao Nakashima,0,0.000000,[411005],"[80, 18, 35, 53]",[Director of Photography]
161572,1907633,Lai Hsiu-Hsiung,0,0.000000,[411005],"[80, 18, 35, 53]",[Editor]
161573,1907644,Fan Sheng-Siang,0,0.000000,[256306],[],[Director of Photography]
161574,1907940,Mark Devries,0,0.000000,[234555],[99],[Director]
161575,1908001,Joe Barton,171539887,0.000000,[324552],"[80, 28, 53]",[Location Scout]

In [585]:
crew_to_export = crew_to_export.rename(columns={'crew_id': 'talent_id', 'crew_name': 'name', 'movieId': 'movies', 'crew_job': 'job'})

In [590]:
crew_to_export.insert(5, 'role_order', 0)

In [595]:
crew_to_export['role_order'] = crew_to_export['role_order'].map(lambda x: [x])

In [598]:
crew_to_export

,talent_id,name,revenue,rating,movies,role_order,genres,job
0,1,George Lucas,23037826439,2.106741,"[10372, 11, 36751, 28176, 12180, 13597, 10658,...",[0],"[10752, 10402, 35, 36, 99, 12, 878, 14, 80, 96...","[Screenplay, Author, Editor, Executive Produce..."
1,2,Mark Hamill,0,2.955752,[25757],[0],"[35, 28, 53]",[Director]
2,3,Harrison Ford,35168966,3.860732,[8665],[0],"[18, 36, 53]",[Executive Producer]
3,4,Carrie Fisher,130239681,0.000000,"[52461, 11005, 22414]",[0],"[18, 35]","[Writer, Novel, Thanks]"
4,7,Andrew Stanton,16396700365,0.871558,"[213121, 399106, 62211, 12, 150540, 2062, 9487...",[0],"[35, 12, 14, 878, 16, 18, 28, 10751]","[Co-Director, Screenplay, Original Story, Char..."
...,...,...,...,...,...,...,...,...
161571,1907632,Nagao Nakashima,0,0.000000,[411005],[0],"[80, 18, 35, 53]",[Director of Photography]
161572,1907633,Lai Hsiu-Hsiung,0,0.000000,[411005],[0],"[80, 18, 35, 53]",[Editor]
161573,1907644,Fan Sheng-Siang,0,0.000000,[256306],[0],[],[Director of Photography]
161574,1907940,Mark Devries,0,0.000000,[234555],[0],[99],[Director]
161575,1908001,Joe Barton,171539887,0.000000,[324552],[0],"[80, 28, 53]",[Location Scout]

In [617]:
# Union of crew and cast
talent_union = pd.concat([cast_to_export,crew_to_export])

In [620]:
talent = talent_union.groupby(['talent_id', 'name']).agg({'revenue': 'sum',
                                                    'rating': 'mean',
                                                    'movies': lambda x: list(set([item for sublist in x for item in sublist])),
                                                    'role_order': lambda x: list(set([item for sublist in x for item in sublist])),
                                                    'genres': lambda x: list(set([item for sublist in x for item in sublist])),
                                                    'job': lambda x: list(set([item for sublist in x for item in sublist]))
                                                }).reset_index()
talent

,talent_id,name,revenue,rating,movies,role_order,genres,job
0,1,George Lucas,24640912129,1.583735,"[636, 10372, 11, 95758, 36751, 28176, 110354, ...","[0, 2, 66, 3, 5, 7, 8, 9, 10, 11, 14, 21, 24, ...","[10752, 10402, 99, 35, 36, 12, 878, 14, 80, 16...","[Screenplay, Author, Executive Producer, Edito..."
1,2,Mark Hamill,4471585758,1.775636,"[60293, 11, 26639, 76180, 222619, 25757, 11428...","[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 14, 16, 18]","[10752, 10402, 99, 35, 12, 878, 14, 16, 80, 18...","[Director, Actor]"
2,3,Harrison Ford,9424229755,2.531431,"[109443, 11, 9869, 80274, 76180, 115348, 9754,...","[0, 1, 32, 3, 4, 2, 5, 7, 8, 10, 11, 14, 16, 2...","[10752, 99, 35, 36, 37, 12, 878, 14, 80, 9648,...","[Actor, Executive Producer]"
3,4,Carrie Fisher,5074635832,0.540505,"[4997, 17926, 108553, 4234, 11, 10379, 525, 49...","[0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 16...","[10402, 99, 35, 12, 878, 14, 80, 9648, 18, 107...","[Writer, Novel, Actor, Thanks]"
4,5,Peter Cushing,796512955,0.783633,"[28801, 3075, 16387, 115972, 3079, 52360, 2599...","[0, 1, 2, 3, 4, 5, 6, 8, 9, 12, 13, 22, 24]","[10752, 10402, 35, 36, 12, 878, 14, 9648, 80, ...",[Actor]
...,...,...,...,...,...,...,...,...
353353,1907923,Pia Edlund,0,0.000000,[407204],[13],[],[Actor]
353354,1907926,Stina Elinderson,0,0.000000,[407204],[14],[],[Actor]
353355,1907940,Mark Devries,0,0.000000,[234555],[0],[99],[Director]
353356,1908001,Joe Barton,171539887,0.000000,[324552],[0],"[80, 28, 53]",[Location Scout]
353357,1908262,Morse Diggs,224511319,0.000000,[339403],[27],"[80, 28]",[Actor]

In [621]:
# Export talent to json
talent.to_json('talent.json', orient='records')

In [628]:
talent[:1000].to_json('talent1000.json', orient='records')

In [631]:
movies_reduced = movies[['id', 'title', 'budget', 'belongs_to_collection']]

In [641]:
movies_reduced

,id,title,budget,belongs_to_collection,collections
0,862,Toy Story,30000000,"[{'id': 10194, 'name': 'Toy Story Collection',...",[10194]
1,8844,Jumanji,65000000,[],[]
2,15602,Grumpier Old Men,0,"[{'id': 119050, 'name': 'Grumpy Old Men Collec...",[119050]
3,31357,Waiting to Exhale,16000000,[],[]
4,11862,Father of the Bride Part II,0,"[{'id': 96871, 'name': 'Father of the Bride Co...",[96871]
...,...,...,...,...,...
45458,439050,Subdue,0,[],[]
45459,111109,Century of Birthing,0,[],[]
45460,67758,Betrayal,0,[],[]
45461,227506,Satan Triumphant,0,[],[]
45462,461257,Queerama,0,[],[]

In [650]:
movies_reduced = movies_reduced.assign(collections=movies_reduced['belongs_to_collection'].map(lambda x: [i['id'] for i in x]))

In [653]:
movies_reduced = movies_reduced.merge(ratings, how='left', left_on='id', right_on='movieId').fillna(0)

In [657]:
movies_reduced['efficiency'] = movies_reduced['rating']/movies_reduced['budget']

In [659]:
movies_to_export = movies_reduced[['id', 'title', 'budget', 'rating', 'collections']]

In [661]:
movies_to_export.to_json('movies.json', orient='records')

In [662]:
movies_to_export[:1000].to_json('movies1000.json', orient='records')